<h1>Contacts</h1>

<div class="container">
<a class="btn btn-primary btn-lg" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
Table of Contacts</a>
</button>
<div class="collapse" id="collapseExample">
  <div class="well">
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Individual Page</th>
      </tr>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.full_name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.Japanese_number %></td>
        <td><a href="contacts/<%= contact.id %>">Click here</a></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
</div>

<div class="container">

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Contact Celebrities
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Want to contact us?</h4>
      </div>
      <div class="modal-body">
        Too bad! This is all fake information! You idiot.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">But I want to contact them...</button>
      </div>
    </div>
  </div>
</div>
</div>